<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github link-green"></i></a>
    <a href="#"><i class="fa fa-instagram link-green"></i></a>
    <a href="#"><i class="fa fa-facebook link-green"></i></a>
    <a href="#"><i class="fa fa-twitter link-green"></i></a>
    <a href="#"><i class="fa fa-linkedin link-green"></i></a>
  </div>
</div>
