.show-wrapper {
background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('img.jpg');
background-size: cover;
background-position: center;
height: 50vh;
display: flex;
justify-content : center;
align-items: center;
margin-bottom: 15px;
}

.show-content {
  width: 900px;
  text-align: center;
  h2 {
    font-size: 50px;
    color: white;
    opacity: 0.9;
    font-weight: bolder;
  }
}

