.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('mojito.jpg');
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding : 5px;
  margin-top: 5px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;

  a {
    color: #137547;
    text-decoration: none;
    &:hover{
      text-decoration:none;
    }
  }
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.cards-spacing {
  padding : 10px;
  h1 {
    font-size: 30px;
    color: black;
  }
}

.btn-green {
  background-color: #137547;
  margin: 5px;
}

.btn-centered {
  text-align: center;
}
